.container {
    position: absolute;
    left: 81%;
    /* transform: translate(-50%, -50%); */
}

.btn {
    /* position: relative; */
    display: inline-block;
    width: 277px;
    color: #fff;
    font-family: OpenSansM;
    font-size: 1em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transform: scaleX(-1);

    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    left: 0;
}

.btn svg rect {
    stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

@media (max-width: 1100px) {
    .container {
        position: absolute;
        left: 22%;
        /* transform: translate(-50%, -50%); */
    }
}