@font-face {
    font-family: OpenSansR;
    src: url(/input/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansRI;
    src: url(/input/fonts/open-sans/OpenSans-RegularItalic.ttf);
}

@font-face {
    font-family: OpenSansL;
    src: url(/input/fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansM;
    src: url(/input/fonts/open-sans/OpenSans-Medium.ttf);
}

@font-face {
    font-family: OpenSansB;
    src: url(/input/fonts/open-sans/OpenSans-Bold.ttf);
}