* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------- */
.intro {
    background-image: url("/input/afbeeldingen/shutterstock_1814712359.jpg");
    transform: scaleX(-1);
    min-height: 88vh;
    width: 96vw;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.intro-text {
    /* color: #077132; */
    color: #fff;
    padding-top: 30%;
    padding-left: 4%;
    font-family: OpenSansM;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #2c3b42;
    transform: scaleX(-1);

}

.intro-text a {
    font-size: 2.5rem;
}


/* ------------------------------------------------- */
.Over {
    font-family: OpenSansB;
    font-size: 2rem;
    color: #2c3b42;
    text-align: center;
    padding-top: 50px;
    /* position: absolute; */
    background-image: url("/input/afbeeldingen/logo/Asset\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-position: 50% 80px;
}


hr.solid {
    /* border-top: 3px solid #077132; */
    border-top: 3px solid #2c3b42;
    width: 50px;

    margin: 20px auto 20px auto;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    width: 60%;
    margin: 30px auto 50px auto;
    /* position: relative; */


}

.grid-item {
    /* border: 1px solid #000; */
    padding: 20px;
    text-align: left;

    font-family: OpenSansR;
    font-size: 1rem;
    color: #2c3b42;
}

/* ------------------------------------------------- */
footer {
    display: block;
    bottom: 0;
    height: 200px;
    background-color: #2c3b42;
    bottom: 0;
}

.footer-logo {
    display: block;
    position: absolute;
    height: 100px;
    margin: 50px auto 50px 50px;
}

.copyrights {
    text-align: center;
    bottom: 0;
}

.copyrights a {
    position: relative;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}