@import '/css/root.css';

.header-achtergrond {
    background-image: url("/input/afbeeldingen/shutterstock_1814712359-min.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 2.6vw;
}

.spacer {
    height: 20vh;
}

.pagina {
    background-color: var(--white);
    padding: 6vh 0 0 0;
}

h1 {
    font-family: var(--Playfair);
    font-size: var(--Titel);
    margin: 0 !important;
    padding: 0 !important;
}

h2 {
    color: var(--gray);
    font-size: var(--Kopje);
}

.contact-container {
    margin: 15vh auto;
}

.gegevens-col {
    display: grid;
    justify-content: center;
}

.gegevens-list li{
    list-style: none;        
    margin: 5px 5px 5px 25px;
}

.gegevens-list a i {
    width: 25px;
}

.gegevens-list a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.2rem;

}

.gegevens-list a:hover {
 color: var(--green);
}


.oproep-col {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    flex-direction: column;
}

.oproep-col::before {
    content: "";
    background-image: url(/input/afbeeldingen/logo/Stijlvol\ Interieur\ logo\ icon\ -\ groen.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 15%;
    width: 200px;
    height: 200px;
    margin: auto;
}


h2 {
    position: relative;
}








.contact-form {
    width: 40vw;
    margin: 15vh auto;
}

.form-titel {
    text-align: center;
    margin-top: 20vh;
}

input,
textarea {
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline: 0px;
    transition:all .3s;
    border: 2px solid var(--white);
    background-color: var(--lightgray);
    border-radius: 5px;
}

textarea {
    height: 7rem;
}

input:focus,
textarea:focus {
    border: 2px solid var(--green);
    border-radius: 5px;
    background-color: var(--white);
}

p:before{
    content:attr(type);
    display:block;
    margin: 28px 0 0 5px;
    font-size: var(--Body);
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5;
}

.submit {
    margin: 28px auto;
    border-radius: 50px;
    border-width: 3px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: var(--Semi);
    background-color: var(--white);
    border-color: var(--gray);
}

.submit:hover {
    border-color: var(--green);
    color: var(--green);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (max-width: 1100px) {
    .contact-grid {
        grid-template-columns: 1fr;
        margin: 5vh auto;
        text-align: center;
        width: auto;
    }
    .gegevens-list {
        margin: 10px 0;
    }
    .list-item {
        margin-left: 0px;
    }
    .oproep {
        display: none;
    }
    .form-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .icon {
        display: none;
    }

    .form-titel {
        font-size: var(--Kopje);
        margin-top: 5vh;
    }
    .contact-form {
        width: 70vw;
        margin: auto;
        padding-bottom: 10vh;
    }

}

@media (max-width: 768px) {
    .gegevens-col {
        display: block;
        text-align: center;
        margin-bottom: 5vh;
    }
}