@import '/css/root.css';

.header-achtergrond {
    background-image: url("/input/afbeeldingen/shutterstock_1814712359-min.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 2.6vw;
}

.slogan {
    transform: skew(0deg, -5deg);
    padding: 15vh;
    color: var(--white);
}

.pagina {
    background-color: var(--white);
    padding: 6vh 0 0 0;
}

h1 {
    font-family: var(--Playfair);
    font-size: var(--Titel);
    margin: 0 !important;
    padding: 0 !important;
}
h2 {
    font-family: var(--Bold);
    line-height: var(--Titel);
    margin: 0;
    padding: 0;
}




.over-alinea {
    width: 50vw;
    text-align: center;
    margin: 5vh auto;
}

.over-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 67.7083%;
    margin: 15vh auto;
    justify-items: center;
}

.missie {
    width: 80%;
}

.portret-foto {
    width: 20vw;
    position: absolute;
    z-index: 1;
}

.portret-achtergrond {
    width: 20vw;
    margin: -20px 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.eigen-button {
    border-radius: 50px;
    border: 3px solid var(--gray);
    width: 50%;
    margin: 5vh 0;

    cursor: pointer;
  
    text-align: center;
    line-height: 2.5rem;
}

.eigen-button a {
    text-decoration: none;
    color: var(--gray);
    font-family: var(--Semi);
}


@media (max-width: 1100px) {
    h2 {
        font-size: var(--Kopje);
        line-height: var(--Kopje);
    }
    .over-grid {
        grid-template-columns:repeat(1, 1fr);
    }
    .missie {
        text-align: center;
    }
    .portret {
        display: grid;
        justify-content: center;
    }
    .portret-foto {
        width: 40vw;
    }
    .portret-achtergrond {
        width: 40vw;
    }
    .eigen-button {
        margin-bottom: 15vh;
        width: auto;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: var(--Body);
        line-height: var(--Body);
    }
}