@import '/css/root.css';

.header-achtergrond {
    background-image: url("/input/afbeeldingen/shutterstock_1814712359-min.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 2.6vw;
}

.spacer {
    height: 20vh;
}

.pagina {
    background-color: var(--white);
    padding: 6vh 0 0 0;
}

h1 {
    font-family: var(--Playfair);
    font-size: var(--Titel);
    margin: 0 !important;
    padding: 0 !important;
}

.portfolio-grid {
    width: 97.5vw;
    margin: 15vh auto 0 auto;
    padding: 0;
}

.portfolio-row {
    margin: 50px;
    padding: 0;
}

.column {
    /* background-color: green; */
    height: 25vw;
    margin: 1.5vw 0 !important;
    padding: 0 !important;
}

.column img {
    height: 25vw;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .column,
    .column img {
        height: 35vw;
    }
}
@media (max-width: 768px) {
    .portfolio-grid {
        width: 95vw;
    }

    .column,
    .column img {
        height: 50vh;
    }
}

/* -------------------------------------------------------------------------------------------- */

.contact-oproep {
    margin: 15vh 50px;
    text-align: center;
}

h3 {
    font-size: var(--Kopje);
}

.eigen-button {
    border-radius: 50px;
    border: 3px solid var(--gray);
    width: 250px;
    margin: 3vh auto;

    cursor: pointer;
  
    text-align: center;
    line-height: 2.5rem;
}

.eigen-button a {
    text-decoration: none;
    color: var(--gray);
    font-family: var(--Semi);
}
